@font-face {
  font-family: 'bru';
  src: url('./fonts/Heading-Pro-Wide-ExtraBold-trial.ttf');
  
}

body {
  background-image: url('./images/wood.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust as needed (cover, contain, auto, etc.) */
  background-position: center ; /* Adjust as needed (top, bottom, left, right, etc.) */
   /* Adjust as needed (repeat, repeat-x, repeat-y, no-repeat) */
   overflow-x:hidden;
}
.seperator{
  display: flex;
  justify-content:flex-end;
}
.image{
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 0px;
  height: 25px;
  width: 25px;
}
.heading{
    background: rgba(35, 23, 6, 0.315);
    margin-top: 0px;
    font-family: bru;
    margin-left:150px;
    margin-right: 10px;
    text-align: center;
    font-size:xx-large;
    margin-bottom: 0px;
    padding: auto;
}
.section{
    display: block;
    max-width:800px;
    margin-right: 0px;
    margin-left: 500px;
    padding: 20px ;
    border-radius: 8px;
    align-self: center;
  
}
.desc{
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 10px;
  font-size: x-large;
  background-color: rgba(226, 232, 38, 0.587);
}
label {
    display: block;
    margin-bottom: 8px;
    
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    width: 200px;
  
  }

  .b2{
    font-size:x-large;
    background-color: white;
    color: green;
    padding: 10px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0px;
  }

  
  .switch1 {
    display: flex;
    justify-content:center;
    
  }

  .log{
    font-size: x-large;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgba(147, 144, 144, 0.895);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    background-color:aquamarine;
    
  }
.starter{
  margin-left: 200px;
  margin-right: auto;
}
  button{

    background-color: rgba(119, 237, 176, 0.452);
    text-size-adjust: large ;
  }

  
