@font-face {
    font-family:quin ;
    src: url('./fonts/QAIRO.ttf');
}
@font-face {
    font-family: he;
    src: url('./fonts/Heading-Pro-Wide-Black-Italic-trial.ttf');
}
body{
    background-color: rgb(246, 217, 206);
    
}
.heading{
    height:50px;
    display:flex;
    justify-content:flex-start;
    background-color: rgb(158, 244, 228);
    margin-bottom: 0;
}

.head-center{
    text-align: center;
    margin-left: 400px;
}
.heading2{
    text-align: center;
    font: size 90px;;
}

.col-3{
    background-color: black;
    text-decoration: white;
    width: 15%;
    margin-bottom: 0;
    height: 100vh;
    background-size: cover;
    margin-top: 50px;
}
.col-9{
    margin-left: 0;
    margin-top: 50px;
    background-color: whitesmoke;
}
.dashboard{
    background-color: rgb(225, 214, 214);
    font-family: quin;
    
    margin-right: 1500px;
    
}
.b1{
    background-color: white;
    text-align: center;
    margin-left: 0px;
    border-bottom: 2px solid black;
}
.b{
    margin-right: 0;
    border: 1px;
    width: 215px;
    height: 100px;
    background-color: rgb(198, 196, 196);
}

.b:hover{
    background-color: aqua;
}
.b3{
    margin-right: 0;
    border: 1px;
    width: 215px;
    height: 100px;
    background-color: rgb(6, 247, 106);

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle-checkbox {
    display: none;
  }
  
  .toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s;
  }
  
  .toggle-label:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .toggle-checkbox:checked + .toggle-label {
    background-color: #2196F3;
  }
  
  .toggle-checkbox:checked + .toggle-label:before {
    transform: translateX(26px);
  }
  
  
  .timeline {
    width: 100%;
    height: 2px;
    background-color: blue; /* Default color */
    margin-bottom: 20px;
  }
  