<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login and Sign Up</title>
    <link href = "static/css/authenticate.css" rel = "stylesheet">

</head>
<body>
    <div class = "formcontainer">
        <div>
        <h2 id = "pls">Sign up</h2>
        </div>
        <div>
        <form action = "/signup" id = "demo-form" method = "POST">
            <input type = "text" class = "formfield" placeholder="Enter Username" id = "username" name = "username"><br>
            <input type = "password" class = "formfield" placeholder="Enter password" id = "password" name = "password"><br>
            <button type = "submit" id = "summit">SIGN UP</button>
            </form>
            <script src = "static/js/script.js"></script>
    </div>
    </div>
</body>
</html>
