.left {
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  body
  {
    overflow-x:hidden;
  }
  .header
  {
    margin-top:25px;
    margin-bottom:50px;
  }
  .material
  {
    text-align:justify;
    width:600px;
    margin:0 auto;
  }

